server:
    port: 0

spring:
  application:
    name: event-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preference-ip-address: true

grpc:
  server:
    port: 8082